
/* background-color: #60b347; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #eee;
  background-color: black;

}

.guess {
  color: black;
  font-size: inherit;
  text-align: center;
  margin: auto;
}
.number {
  position: absolute;
  padding: 20px 30px;
  background-color: white;
  color: black;
  font-size: 2rem;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.guess {
  position: absolute;
  top: 20%;
  left: 20%;
}

.check {
  position: absolute;
  font-weight: bold;
  top: 30%;
  left: 26%;
}

.message {
  font-size: 1.5rem;
  position: absolute;
  top: 15%;
  left: 60%;
}
.label-score {
  font-size: 1.5rem;
  position: absolute;
  top: 23%;
  left: 60%;
}
.lable-highscore {
  font-size: 1.5rem;
  position: absolute;
  top: 31%;
  left: 60%;
}